@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f49595;

    --secondary: #f8edeb;

    --misty-rose: #fae1dd;
    --pale-dogwood: #fcd5ce;

    --melon: #f8b5b2;

    --peach: #fec89a;

    // --background: #fcd5ce;
    --background: #f8edeb;

    --white: #fffffe;

    --placeholder: #c3c3c3;
  }
}
