/* foodcont styling */
.foodcontainer {
  width: 100%;
  /* height: calc(100% - 45px); */
  height: 100%;
  display: flex;
  padding-top: 15px;
}

.foodcontainer .left-side {
  width: calc(100% - 30%);
  background: #004643;
  height: 93%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  border-radius: 7px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.foodcontainer .left-side::-webkit-scrollbar {
  display: none;
}

/* PaymentSect styling */
.foodcontainer .right-side {
  width: calc(100% - 70%);
  height: 100%;
  padding: 0px 10px;
  padding-left: 20px;
  padding: 15px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cart {
  background: #004643;
  height: 100%;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  padding: 10px 20px;
  margin: 5px;
}

.cart .labels {
  color: #e8e4e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 270px;
  margin: 3px 10px;
}

.cart .item {
  margin: 8px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #0f3433;
  background: #abd1c6;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.cart .item .item-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-width: 240px;
  padding: 5px 5px;
  min-width: 300px;
  align-items: center;
}

.cart .item .qty-box{
  padding: 7px 10px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004643;
  color: #fffffe;
  border-radius: 7px;
}

.cart .item .item-details .trash-box {
  margin-top: 7px;
  padding: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #004643;
  border: 1px solid #004643;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
}

.cart .item .item-details .trash-box:hover {
  color: #f9bc60;
  border: 1px solid #f9bc60;
}

.cart .total {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
  padding: 5px 5px;
  margin: 10px 0px;
  min-width: 300px;
  align-items: center;
  color: white;
}

.cart .checkout-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
}

@media screen and (max-width: 525px) {
  .foodcontainer {
    flex-direction: column;
    height: auto;
  }
  .foodcontainer .left-side {
    width: 100%;
  }

  .foodcontainer .left-side .cards main .details {
    max-width: 325px;
  }

  .foodcontainer .left-side .cards .all .varieties {
    overflow-x: scroll;
  }

  .foodcontainer .right-side {
    width: 100%;
    padding: unset;
  }
}

@media only screen and (min-width: 525px) and (max-width: 950px) {
  .foodcontainer {
    height: calc(100% - 25px);
  }
  .foodcontainer .left-side {
    width: calc(100% - 30%);
  }

  .foodcontainer .right-side {
    width: calc(100% - 60%);
  }

  .foodcontainer .left-side .cards main .details {
    max-width: 230px;
    margin: 20px 5px;
  }

  .foodcontainer .left-side .cards .all {
    padding: 0;
  }

  .foodcontainer .right-side .payment .price {
    padding: 0;
  }
}







